@import './utils/vars';
@import './base/normalize';
@import './components/header';

body {
  padding-top: 80px;
  font-family: $main-font;
  background-color: $clear-white-color;
  color: $primary-text-color;
  letter-spacing: 0.03em;
}
.hero {
  &-title {
    color: $clear-white-color;
  }
}

.section {
  &-title {
    color: red;
  }
}
.modal-btn {
  background-color: $accent-color;
}
